.learnMoreButton {
    align-items: center;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    border-radius: 48px;
    background: #FF9900;
    width: 161px;
    height: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.learnMoreButton:hover {
    background: #FF9900;
}