.App {
    font-family: TT Norms Pro, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    /* margin-right: 10%; */
}


.hero-section {
    display: flex;
    margin-top: 112px;
    justify-content: space-around;
}